
html {
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
	box-sizing: border-box;
	color:#373737;
	font-size: 16px;
	font-family: 'Myriad Pro', 'Calibri', Helvetica, Arial, sans-serif;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

header {
	display: flex;
	flex-direction: row;
}

.section-heading {
	margin: 0;
}

.section-paragraph {
	margin: 0;
}

section {
	margin-bottom: 30px;
}

footer {
  color: #f2f2f2;
}

a {
  text-decoration: none;
  color: #FA9A14;
  text-shadow: none;

  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: color 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: color 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  -ms-transition: color 0.5s ease;
  -ms-transition: text-shadow 0.5s ease;
}

a:hover, a:focus {text-decoration: underline;}

footer a {
  color: #F2F2F2;
  text-decoration: underline;
}

.outer {
  width: 100%;
}

.inner {
  position: relative;
  width: 80%;
  max-width: 640px;
  padding: 20px 10px;
  margin: 0 auto;
}

#logo {
	width: 200px;
	height: 200px;
	float: left;
	transform: translateY(-45px);
	margin-left: -40px;
}

#header_wrap {
  background: #FA9A14;
  background: -moz-linear-gradient(top, #FA9A14, #fa8014);
  background: -webkit-linear-gradient(top, #FA9A14, #fa8014);
  background: -ms-linear-gradient(top, #FA9A14, #fa8014);
  background: -o-linear-gradient(top, #FA9A14, #fa8014);
  background: linear-gradient(top, #FA9A14, #fa8014);
  
  height: 210px;
}

#header_wrap .inner {
  padding: 50px 10px 30px 10px;
}

#project_title {
	margin: 0;
	color: #fff;
	font-size: 42px;
	font-weight: 700;
}

#project_tagline {
	color: #fff;
	margin: 0;
	font-size: 24px;
	font-weight: 300;
}

#main_content_wrap {
	/*  header.height + footer.height + main_content_wrap.verticalPadding */
	min-height: calc(100% - (210px + 120px + 40px)); 
	margin: 0 auto;
	padding: 40px 0 0;
	position: relative;
	display: block;
}

#footer_wrap {
  background: #FA9A14;
  background: -moz-linear-gradient(top, #FA9A14, #fa8014);
  background: -webkit-linear-gradient(top, #FA9A14, #fa8014);
  background: -ms-linear-gradient(top, #FA9A14, #fa8014);
  background: -o-linear-gradient(top, #FA9A14, #fa8014);
  background: linear-gradient(top, #FA9A14, #fa8014);
  
  height: 120px;
}

footer.inner {
	padding: 15px 0 0;
}

#screenshots {
	margin-top: 5px;
	display: flex;
	justify-content: space-between;
}

.screenshot {
	width: 90%;
}





/*******************************************************************************
Small Device Styles
*******************************************************************************/

@media screen and (max-width: 580px) {
	#project_title {
		font-size: 30px;
		font-weight: 600;
		padding-top: 10px;
	}
}

@media screen and (max-width: 480px) {
	body {
		font-size:14px;
	}
	
	.inner {
/* 		min-width: 320px; */
		max-width: 480px;
	}
	
	#header_wrap .inner {
		padding: 0;
		flex-direction: column;
		width: 100%;
		justify-content: center;
		text-align: center;
	}
	
	#header_wrap {
		height: 250px;
	}
	
	#heading-text {
		margin-top: -10px;
	}
	
	#project_title {
		padding-top: 0px;
		line-height: 40px;
		font-size: 32px;
		display: block;
	}
	
	.section-paragraph {
		font-size: 2.5vh;
	}
	
	#logo {
		height: 150px;
		width: 150px;
		float: none;
		transform: none;
		margin: 0 auto;
	}
	
	#main_content {
		padding: 0;
	}
	
	h1 {
		font-size: 28px;
	}
	
	h2 {
		font-size: 24px;
	}
	
	h3 {
		font-size: 21px;
	}
}

@media screen and (max-width: 321px) {
	.section-paragraph {
		font-size: 3vh;
	}
}